<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="colums">
    <div class="column is-8">
        <h1 class="title is-2">ORDER</h1>

      <div class="content pa4 mt3 bg-white border-radius-3">

        <h3 class="subtitle is-4 pt5">Details</h3>

        <table class="table is-narrow is-fullwidth">
          <tr>
            <td class="has-text-weight-bold">User :</td>
            <td><%= @order.user.name %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold">Email :</td>
            <td><%= @order.email %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold">Address :</td>
            <td><%= @order.user.address %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold">Telephone :</td>
            <td><%= @order.user.telephone %></td>
          </tr>
          <tr>
            <td class="has-text-weight-bold">Product :</td>
            <td><% @order.line_items.each do |line_item| %>
                  <%= line_item.product.name %>
                <% end %>
            </td>
          </tr>
          <tr>
            <td class="has-text-weight-bold">Total Price :</td>
            <td><%= number_to_currency(@order.total_price) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<br>

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <!-- <span>Amount: $5.00</span> -->
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="pk_test_LKDzCsEwekIqKLear1qql8qo"
          data-description="A month's subscription"
          data-amount=""
          data-locale="auto"></script>
<% end %>