<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.user.address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @order.user.telephone %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order.total_price %>
</p>
<br>

 <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto">
</script>